body {
    padding-top: 80px;
}
.container {
    max-width: 1000px;
}
header nav img {
    width: 50px;
    margin: 0 10px 0 10px;
}
header img {
    width: 100%;
}
main section ol li {
    font-size: 1.5rem;
}
.thumbnail img{
    width: 320px;
}
@media (min-width: 480px) {
    main section ol li {
        font-size: 1.7rem;
    }
}
@media (min-width: 720px) {
     main section ol li {
        font-size: 2rem;
    }
}

