<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Trabajo en equipo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimun-scale=1">
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="ToDoController">
    <!-- Header de la pagina de inicio -->
    <header>
        <nav class="navbar navbar-default  navbar-fixed-top navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Menu</span>
                        <!-- nº de lineas que se veran en el icono de menu version movil -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="navbar-left" alt="Brand" src="../Imagenes/gitHub.png">
                    <a class="navbar-brand" href="../index.html">TRABAJO EN EQUIPO</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../Git/git.html">Git</a></li>
                        <li><a href="../GitHub/github.html">GitHub</a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curso <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="inicio.html">Presentación</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="githubdesktop.html">GitHub Desktop <span class="badge">8</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="comandos.html">Línea de comandos <span class="badge">10</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="githubcom.html">GitHub.com <span class="badge">14</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="githubpages.html">GitHub Pages <span class="badge">5</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="caracteristicas.html">Otras características de GitHub <span class="badge">5</span></a></li>
                            </ul>
                        </li>
                        <li><a href="../Contacto/contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <img src="../Imagenes/banner-git-e-github-ninja.jpg" class="img-responsive">
    </header>
    <!-- /.header -->
    <!-- Cuerpo de la pagina -->
    <main>
        <!-- Breadcrumb o migas de pan -->
        <div class="container">
            <section>
                <ol class="breadcrumb">
                    <li>Inicio</li>
                    <li class="active">Curso</li>
                </ol>
            </section>
            <!-- Jumbotron -->
            <section>
                <div class="jumbotron">
                    <h1>Bienvenido al Curso!</h1>
                    <p>En este curso te explicaremos paso a paso lo necesario para poder manejar las herramientas <strong>Git</strong> y <strong>GitHub</strong> y asi tener siempre tus proyectos seguros y a tu disposicion en todo momento.</p>
                    <p><a class="btn btn-primary btn-lg" href="githubdesktop.html" role="button">Inicia el curso</a></p>
                </div>
            </section>
            <!-- /.Jumbotron -->
            <!-- Registro de actividad-->
            <section>
                <div class="row">
                    <!-- Columna para formulario -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Formulario Registro de Actividad</h3>
                                <p>Introduce los datos en el formulario cada vez que termines una parte del curso.</p>
                            </div>
                            <div class="panel-body">
                                <form ng-submit="addActv()">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon" id="sizing-addon1">N</span>
                                        <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon1" ng-model="newActv.usuario">
                                    </div>
                                    <br/>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon" id="sizing-addon2">C</span>
                                        <input type="text" class="form-control" placeholder="Descripción Curso" aria-describedby="sizing-addon2" ng-model="newActv.descripcion">
                                    </div>
                                    <br/>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon" id="sizing-addon3">F</span>
                                        <input type="date" class="form-control" placeholder="Fecha" aria-describedby="sizing-addon3" ng-model="newActv.fecha">
                                    </div>
                                    <br/>
                                    <input type="submit" class="btn btn-success" value="Guardar registro">
                                </form>
                                <br/>
                                <button ng-click="todo = []" type="button" class="btn btn-danger">Limpiar registro de actividad</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.Columna para formulario -->
                    <!-- Columna para registro -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Registro de Actividad</h3>
                                <p>Aqui verás tus avances en el curso y donde lo has dejado la última vez.</p>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <!-- Angular ira añadiendo los objetos a la lista segun se vayan creando -->
                                    <li ng-repeat="actividad in todo" class="list-group-item">{{actividad.usuario}} - {{actividad.descripcion}} - {{actividad.fecha | date: 'short'}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.Registro de actividad-->
        </div>
    </main>
    <footer>
        <!-- Footer -->
        <div class="container">
            <p class="text-left"><em>Trabajo en equipo &copy; 2017</em></p>
            <p class="text-center"><strong>Samuel Rodríguez</strong></p>
        </div>
    </footer>
    <!-- /.Footer -->
    <!-- Enlace de la libreria jQuery.js -->
    <script src="../JavaScript/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
